.result{
background-color:#7464bc;
width:437px;
height:300px;
margin:108px auto;}

.result h2{
margin-left:67px !important;}

.content2{
margin-left:100px !important;
margin-top:50px;
text-decoration:none;
}